In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Churn_Modelling.csv")

In [3]:
print(df.shape)
print(df.columns)
df

(10000, 14)
Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
df.drop(['RowNumber', 'CustomerId', 'Surname'], axis="columns",inplace=True)

In [5]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
df.dtypes

CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [7]:
df.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [8]:
df['Gender'].replace({"Female":0,"Male":1},inplace=True)

In [9]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [13]:
df.Geography.unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [12]:
df.NumOfProducts.unique()

array([1, 3, 2, 4], dtype=int64)

In [14]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [15]:
df["Geography"] = le.fit_transform(df["Geography"])

In [16]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,0,1,39,5,0.00,2,1,0,96270.64,0
9996,516,0,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,0,0,36,7,0.00,1,0,1,42085.58,1
9998,772,1,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,0,0,28,4,130142.79,1,1,0,38190.78,0

In [17]:
df.columns

Index(['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary',
       'Exited'],
      dtype='object')

In [18]:
col_scale=['CreditScore','Geography','Age','Tenure', 'Balance','NumOfProducts','EstimatedSalary']

In [19]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()


df[col_scale]=sc.fit_transform(df[col_scale])

In [20]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,-0.326221,-0.901886,0,0.293517,-1.041760,-1.225848,-0.911583,1,1,0.021886,1
1,-0.440036,1.515067,0,0.198164,-1.387538,0.117350,-0.911583,0,1,0.216534,0
2,-1.536794,-0.901886,0,0.293517,1.032908,1.333053,2.527057,1,0,0.240687,1
3,0.501521,-0.901886,0,0.007457,-1.387538,-1.225848,0.807737,0,0,-0.108918,0
4,2.063884,1.515067,0,0.388871,-1.041760,0.785728,-0.911583,1,1,-0.365276,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,1.246488,-0.901886,1,0.007457,-0.004426,-1.225848,0.807737,1,0,-0.066419,0
9996,-1.391939,-0.901886,1,-0.373958,1.724464,-0.306379,-0.911583,1,1,0.027988,0
9997,0.604988,-0.901886,0,-0.278604,0.687130,-1.225848,-0.911583,0,1,-1.008643,1
9998,1.256835,0.306591,1,0.293517,-0.695982,-0.022608,0.807737,1,0,-0.125231,1
9999,1.463771,-0.901886,0,-1.041433,-0.350204,0.859965,-0.911583,1,0,-1.076370,0

In [21]:
df.shape

(10000, 11)

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X=df.drop("Exited",axis='columns')
y=df["Exited"]

In [24]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [25]:
X_train.shape

(8000, 10)

In [26]:
X_test.shape

(2000, 10)

In [27]:
y_test.shape

(2000,)

In [28]:
import tensorflow as tf
from tensorflow import keras

In [32]:
model=keras.Sequential([
    keras.layers.Dense(20,input_shape=(10,),activation='relu'),
    keras.layers.Dense(10,activation='relu'),
    keras.layers.Dense(1,activation='sigmoid')
])

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(X_train,y_train,epochs=5)

Epoch 1/5
250/250 [==============================] - 1s 3ms/step - loss: 0.5013 - accuracy: 0.7770
Epoch 2/5
250/250 [==============================] - 1s 2ms/step - loss: 0.4132 - accuracy: 0.8139
Epoch 3/5
250/250 [==============================] - 1s 2ms/step - loss: 0.3912 - accuracy: 0.8326
Epoch 4/5
250/250 [==============================] - 1s 3ms/step - loss: 0.3766 - accuracy: 0.8444
Epoch 5/5
250/250 [==============================] - 1s 3ms/step - loss: 0.3681 - accuracy: 0.8501

In [33]:
model.fit(X_train,y_train,epochs=50)

Epoch 1/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3621 - accuracy: 0.8525
Epoch 2/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3591 - accuracy: 0.8521
Epoch 3/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3565 - accuracy: 0.8543
Epoch 4/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3534 - accuracy: 0.8536
Epoch 5/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3523 - accuracy: 0.8529
Epoch 6/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3482 - accuracy: 0.8564
Epoch 7/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3468 - accuracy: 0.8579
Epoch 8/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3453 - accuracy: 0.8565
Epoch 9/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3433 - accuracy: 0.8569
Epoch 10/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3420 - accuracy: 0.8579
Epoch 11/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3413 - accuracy: 0.8566
Epoch 12/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3400 - accuracy: 0.8591
Epoch 13/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3394 - accuracy: 0.8572
Epoch 14/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3395 - accuracy: 0.8583
Epoch 15/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3374 - accuracy: 0.8610
Epoch 16/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3370 - accuracy: 0.8604
Epoch 17/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3359 - accuracy: 0.8580
Epoch 18/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3350 - accuracy: 0.8614
Epoch 19/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3345 - accuracy: 0.8597
Epoch 20/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3341 - accuracy: 0.8624
Epoch 21/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3338 - accuracy: 0.8589
Epoch 22/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3327 - accuracy: 0.8616
Epoch 23/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3332 - accuracy: 0.8622
Epoch 24/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3314 - accuracy: 0.8639
Epoch 25/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3310 - accuracy: 0.8608
Epoch 26/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3309 - accuracy: 0.8609
Epoch 27/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3303 - accuracy: 0.8624
Epoch 28/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3310 - accuracy: 0.8627
Epoch 29/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3301 - accuracy: 0.8630
Epoch 30/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3295 - accuracy: 0.8621
Epoch 31/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3288 - accuracy: 0.8631
Epoch 32/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3287 - accuracy: 0.8626
Epoch 33/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3283 - accuracy: 0.8625
Epoch 34/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3278 - accuracy: 0.8612
Epoch 35/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3275 - accuracy: 0.8618
Epoch 36/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3286 - accuracy: 0.8633
Epoch 37/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3269 - accuracy: 0.8633
Epoch 38/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3272 - accuracy: 0.8635
Epoch 39/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3262 - accuracy: 0.8641
Epoch 40/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3269 - accuracy: 0.8633
Epoch 41/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3258 - accuracy: 0.8649
Epoch 42/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3257 - accuracy: 0.8654
Epoch 43/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3255 - accuracy: 0.8649
Epoch 44/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3256 - accuracy: 0.8656
Epoch 45/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3247 - accuracy: 0.8644
Epoch 46/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3250 - accuracy: 0.8656
Epoch 47/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3249 - accuracy: 0.8640
Epoch 48/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3246 - accuracy: 0.8641
Epoch 49/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3235 - accuracy: 0.8654
Epoch 50/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3238 - accuracy: 0.8644

In [35]:
model.fit(X_train,y_train,epochs=100)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3164 - accuracy: 0.8689
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3158 - accuracy: 0.8680
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3162 - accuracy: 0.8686
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3155 - accuracy: 0.8679
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3152 - accuracy: 0.8689
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3161 - accuracy: 0.8670
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3157 - accuracy: 0.8684
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3162 - accuracy: 0.8675
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3154 - accuracy: 0.8664
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3158 - accuracy: 0.8671
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3154 - accuracy: 0.8673
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3152 - accuracy: 0.8680
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3147 - accuracy: 0.8673
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3149 - accuracy: 0.8683
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3150 - accuracy: 0.8684
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3146 - accuracy: 0.8685
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3144 - accuracy: 0.8674
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3139 - accuracy: 0.8680
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3150 - accuracy: 0.8680
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3143 - accuracy: 0.8679
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3142 - accuracy: 0.8670
Epoch 22/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3146 - accuracy: 0.8689
Epoch 23/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3136 - accuracy: 0.8685
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3131 - accuracy: 0.8686
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3133 - accuracy: 0.8677
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3132 - accuracy: 0.8683
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3130 - accuracy: 0.8698
Epoch 28/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3132 - accuracy: 0.8690
Epoch 29/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3133 - accuracy: 0.8691
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3127 - accuracy: 0.8677
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3129 - accuracy: 0.8698
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3126 - accuracy: 0.8684
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3130 - accuracy: 0.8691
Epoch 34/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3126 - accuracy: 0.8660
Epoch 35/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3127 - accuracy: 0.8679
Epoch 36/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3125 - accuracy: 0.8677
Epoch 37/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3121 - accuracy: 0.8686
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3117 - accuracy: 0.8706
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3114 - accuracy: 0.8691
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3119 - accuracy: 0.8687
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3121 - accuracy: 0.8684
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3107 - accuracy: 0.8690
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3119 - accuracy: 0.8680
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3122 - accuracy: 0.8681
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3116 - accuracy: 0.8696
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3111 - accuracy: 0.8692
Epoch 47/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3115 - accuracy: 0.8689
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3109 - accuracy: 0.8690
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3110 - accuracy: 0.8696
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3107 - accuracy: 0.8699
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3110 - accuracy: 0.8675
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3104 - accuracy: 0.8673
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3106 - accuracy: 0.8701
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3096 - accuracy: 0.8700
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3101 - accuracy: 0.8687
Epoch 56/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3096 - accuracy: 0.8689
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3098 - accuracy: 0.8704
Epoch 58/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3100 - accuracy: 0.8704
Epoch 59/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3100 - accuracy: 0.8679
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3100 - accuracy: 0.8706
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3094 - accuracy: 0.8700
Epoch 62/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3089 - accuracy: 0.8699
Epoch 63/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3098 - accuracy: 0.8694
Epoch 64/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3089 - accuracy: 0.8705
Epoch 65/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3096 - accuracy: 0.8701
Epoch 66/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3091 - accuracy: 0.8708
Epoch 67/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3087 - accuracy: 0.8711
Epoch 68/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3087 - accuracy: 0.8694
Epoch 69/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3085 - accuracy: 0.8727
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3083 - accuracy: 0.8711
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3092 - accuracy: 0.8700
Epoch 72/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3084 - accuracy: 0.8698
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3078 - accuracy: 0.8717
Epoch 74/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3087 - accuracy: 0.8704
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3075 - accuracy: 0.8730
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3080 - accuracy: 0.8709
Epoch 77/100
250/250 [==============================] - 0s 954us/step - loss: 0.3077 - accuracy: 0.8700
Epoch 78/100
250/250 [==============================] - 0s 928us/step - loss: 0.3072 - accuracy: 0.8698
Epoch 79/100
250/250 [==============================] - 0s 928us/step - loss: 0.3080 - accuracy: 0.8711
Epoch 80/100
250/250 [==============================] - 0s 952us/step - loss: 0.3074 - accuracy: 0.8701
Epoch 81/100

250/250 [==============================] - 0s 923us/step - loss: 0.3077 - accuracy: 0.8695
Epoch 82/100
250/250 [==============================] - 0s 934us/step - loss: 0.3077 - accuracy: 0.8704
Epoch 83/100
250/250 [==============================] - 0s 900us/step - loss: 0.3079 - accuracy: 0.8691
Epoch 84/100
250/250 [==============================] - 0s 933us/step - loss: 0.3070 - accuracy: 0.8692
Epoch 85/100
250/250 [==============================] - 0s 926us/step - loss: 0.3071 - accuracy: 0.8712
Epoch 86/100
250/250 [==============================] - 0s 923us/step - loss: 0.3073 - accuracy: 0.8712
Epoch 87/100
250/250 [==============================] - 0s 925us/step - loss: 0.3081 - accuracy: 0.8708
Epoch 88/100
250/250 [==============================] - 0s 922us/step - loss: 0.3070 - accuracy: 0.8711
Epoch 89/100
250/250 [==============================] - 0s 909us/step - loss: 0.3073 - accuracy: 0.8714
Epoch 90/100
250/250 [==============================] - 0s 952us/step - loss: 0.3076 - accuracy: 0.8723
Epoch 91/100
250/250 [==============================] - 0s 916us/step - loss: 0.3080 - accuracy: 0.8723
Epoch 92/100
250/250 [==============================] - 0s 868us/step - loss: 0.3075 - accuracy: 0.8701
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3072 - accuracy: 0.8708
Epoch 94/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3062 - accuracy: 0.8717
Epoch 95/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3067 - accuracy: 0.8702
Epoch 96/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3066 - accuracy: 0.8716
Epoch 97/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3059 - accuracy: 0.8705
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3058 - accuracy: 0.8712
Epoch 99/100
250/250 [==============================] - 0s 983us/step - loss: 0.3072 - accuracy: 0.8720
Epoch 100/100
250/250 [==============================] - 0s 902us/step - loss: 0.3062 - accuracy: 0.8729

In [37]:
model.evaluate(X_test,y_test)

63/63 [==============================] - 0s 2ms/step - loss: 0.3486 - accuracy: 0.8575

[0.34859755635261536, 0.8575000166893005]

In [38]:
yp=model.predict(X_test)

63/63 [==============================] - 0s 2ms/step

In [40]:
yp[:5]

array([[0.04276174],
       [0.01779277],
       [0.06540071],
       [0.2185868 ],
       [0.12674588]], dtype=float32)

In [41]:
y_test[:5]

6252    0
4684    0
1731    0
4742    0
4521    0
Name: Exited, dtype: int64

In [45]:
y_pred=[]

for each in yp:
    if each>0.5:
        y_pred.append(1)
    else:
        y_pred.append(0)

In [52]:
y_pred[:5]

[0, 0, 0, 0, 0]

In [53]:
y_test[:5]

6252    0
4684    0
1731    0
4742    0
4521    0
Name: Exited, dtype: int64

In [55]:
from sklearn.metrics import confusion_matrix,classification_report

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.89      0.94      0.91      1607
           1       0.68      0.52      0.59       393

    accuracy                           0.86      2000
   macro avg       0.78      0.73      0.75      2000
weighted avg       0.85      0.86      0.85      2000